<!DOCTYPE html>
<html>

  <head>
    <style>
      table, th, td {
	  border : 1px solid black;
	  border-collapse : collapse;
      }
      h5 {
	  color : MediumSeaGreen
      }
    </style>
    <title>  </title>
    <h5>
      Biraj Chowdhury and Leia Park - Team Zesty Zebras<br>
      SoftDev Pd 9<br>
      K10 -- Jinga Tuning/Templating with Jinga/Use Jinga to write HTML<br>
      2019--09-22
    </h5>
  </head>

  <body>
    <h3>Why don't you try : {{randomOccupation}}</h3>
    <table>
      <tr>
	<th> Occupation </th>
	<th> Percentage Of Workforce</th>
      </tr>
      <tr>
	<td> {{jobs[0]}} </td>
	<td> {{percents[0]}} </td>
      </tr>
      <tr>
	<td> {{jobs[1]}} </td>
	<td> {{percents[1]}} </td>
      </tr>
      <tr>
	<td> {{jobs[2]}} </td>
	<td> {{percents[2]}} </td>
      </tr>
      <tr>
	<td> {{jobs[3]}} </td>
	<td> {{percents[3]}} </td>
      </tr>
      <tr>
	<td> {{jobs[4]}} </td>
	<td> {{percents[4]}} </td>
      </tr>
      <tr>
	<td> {{jobs[5]}} </td>
	<td> {{percents[5]}} </td>
      </tr>
      <tr>
	<td> {{jobs[6]}} </td>
	<td> {{percents[6]}} </td>
      </tr>
      <tr>
	<td> {{jobs[7]}} </td>
	<td> {{percents[7]}} </td>
      </tr>
      <tr>
	<td> {{jobs[8]}} </td>
	<td> {{percents[8]}} </td>
      </tr>
      <tr>
	<td> {{jobs[9]}} </td>
	<td> {{percents[9]}} </td>
      </tr>
      <tr>
	<td> {{jobs[10]}} </td>
	<td> {{percents[10]}} </td>
      </tr>
      <tr>
	<td> {{jobs[11]}} </td>
	<td> {{percents[11]}} </td>
      </tr>
      <tr>
	<td> {{jobs[12]}} </td>
	<td> {{percents[12]}} </td>
      </tr>
      <tr>
	<td> {{jobs[13]}} </td>
	<td> {{percents[13]}} </td>
      </tr>
      <tr>
	<td> {{jobs[14]}} </td>
	<td> {{percents[15]}} </td>
      </tr>
      <tr>
	<td> {{jobs[16]}} </td>
	<td> {{percents[16]}} </td>
      </tr>
      <tr>
	<td> {{jobs[17]}} </td>
	<td> {{percents[17]}} </td>
      </tr>
      <tr>
	<td> {{jobs[18]}} </td>
	<td> {{percents[18]}} </td>
      </tr>
      <tr>
	<td> {{jobs[19]}} </td>
	<td> {{percents[19]}} </td>
      </tr>
      <tr>
	<td> {{jobs[20]}} </td>
	<td> {{percents[20]}} </td>
      </tr>
      <tr>
	<td> {{jobs[21]}} </td>
	<td> {{percents[21]}} </td>
      </tr>
    </table>  
  </body>
</html>
